.outline {
    height: 600px;
    width: 600px;
    border-style: solid;
    color: black;
    margin: 0 auto;
}

.outline div{
    width: 15px;
    height: 15px;
    outline: 1px solid;
    float: left;
}