.slot_white{
    width: 15px;
    height: 15px;
    outline: 1px solid;
    float: left;
}

.slot_black{
    width: 15px;
    height: 15px;
    outline: 1px solid;
    float: left;
    background-color: black;
}